<div class="container">
    <h1>Calculadora Matriz | Determiante</h1>

     <div class="mb-3">
        <label for="lenght">Digite a dimensão dos vetores</label>
    </div>

    <div class="mb-3">
        <input type="number" id="i" class="form-control">
        <input type="number" id="j" class="form-control d-none" disabled>
    </div>

    <div class="btn-group">
        <button class="btn" id="generate">gerar matriz</button>
        <button class="btn d-none" id="btn-calcular-determinante">Calcular Determinante</button>
    </div>

    <div>
        <input class="checkbox-button" type="checkbox" name="random" id="random">
        <label for="random">Gerar números aleatórios</label>
    </div>

    <div class="row">
        <div class="mb-3 mt-3" id="result"></div>
        <div class="d-none mb-3 mt-3" id="result-quadrado-magico"></div>
    </div>
</div>

<script src="./js/determinante.js"></script>