<div class="container mt-5">
    <h1 class="text-center">Calculadora Matricial</h1>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="list-group">
                <a href="/produto" class="list-group-item list-group-item-action">Multiplicação de Matrizes</a>
                <a href="/transporta" class="list-group-item list-group-item-action">Matriz Transportada</a>
                <a href="/quadrado-magico" class="list-group-item list-group-item-action">Quadrado Mágico</a>
            </div>
        </div>
    </div>
</div>