<div class="container">
    <h1>Calculadora Matrizes | Produto</h1>

    <div class="mb-3">
        <label for="lenght">Digite a dimensão dos vetores</label>
    </div>

    <div class="mb-3 row">
        <input type="number" id="i" class="form-control">
        &nbsp;x&nbsp;
        <input type="number" id="j" class="form-control">
    </div>

    <div class="btn-group">
        <button class="btn" id="generate" disabled>gerar matriz</button>
        <button class="btn d-none" id="btn-gerar-produto">Calcular Produto</button>
    </div>

    <div>
        <input class="checkbox-button" type="checkbox" name="random" id="random">
        <label for="random">Gerar números aleatórios</label>
    </div>

    <div class="row">
        <div class="mb-3 mt-3" id="matriz1"></div>
        <div class="d-none icon">
            <img src="./img/plus.svg" alt="flecha">
        </div>
        <div class="mb-3 mt-3" id="matriz2"></div>
        <div class="d-none icon">
            <img src="./img/equals.svg" alt="igual" style="font-size: 15px;">
        </div>
        <div class="mb-3 mt-3 d-none" id="result-produto"></div>
    </div>
</div>

<script src="./js/produto.js"></script>