<div class="container">
    <h1>Calculadora Produto de Matrizes</h1>

    <div class="mb-3">
        <label for="lenght">Digite a dimensão dos vetores</label>
    </div>

    <div class="mb-3 row">
        <input type="text" id="i" class="form-control" value="3">
        <input type="text" id="j" class="form-control" value="3">
    </div>
    
    <div class="btn-group">
        <button class="btn" id="generate">gerar</button>
        <input type="checkbox" name="random" id="random" checked>
        <label for="random">Gerar números aleatórios</label>
        <button class="btn" id="btn-gerar-produto">Calcular Produto</button>
    </div>

    <div class="row">
        <div class="mb-3 mt-3" id="matriz1"></div>
        <div class="d-none icon">
            <img src="./plus.svg" alt="flecha">
        </div>
        <div class="mb-3 mt-3" id="matriz2"></div>
        <div class="d-none icon">
            <img src="./equals.svg" alt="igual">
        </div>
        <div class="mb-3 mt-3 d-none" id="result-produto"></div>
    </div>
</div>

<script src="./produto.js"></script>