<div class="container">
    <h1>Calculadora Matriz | Calcular Quadrado Mágico</h1>

    <div class="mb-3">
        <label for="lenght">Digite a dimensão do vetor</label>
    </div>

    <div class="mb-3">
        <input type="number" id="i" class="form-control">
    </div>
    
    <div class="btn-group">
        <button class="btn" id="generate">gerar</button>
        <button class="btn d-none" id="calcular-quadrado-magico">Calcular</button>
    </div>

    <div>
        <input class="checkbox-button" type="checkbox" name="random" id="random">
        <label for="random">Gerar números aleatórios</label>
    </div>

    <div class="row">
        <div class="mb-3 mt-3" id="result"></div>
        <div class="d-none mb-3 mt-3" id="result-quadrado-magico"></div>
    </div>
</div>

<script src="./js/quadrado-magico.js"></script>