<div class="container">
    <h1>Calculadora Matriz Transporta</h1>

    <div class="mb-3">
        <label for="lenght">Digite a dimensão do vetor</label>
    </div>

    <div class="mb-3 row">
        <input type="text" id="i" class="form-control" value="5">
        <input type="text" id="j" class="form-control" value="7">
    </div>
    
    <div class="btn-group">
        <button class="btn" id="generate">gerar</button>
        <input type="checkbox" name="random" id="random" checked>
        <label for="random">Gerar números aleatórios</label>
        <button class="btn d-none" id="btn-gerar-transporta">Gerar Matriz transporta</button>
    </div>

    <div class="row">
        <div class="mb-3 mt-3" id="result"></div>
        <div class="d-none" id="icon">
            <img src="./arrow.svg" alt="flecha">
        </div>
        <div class="d-none mb-3 mt-3" id="result-transporta"></div>
    </div>
</div>

<script src="./transporta.js"></script>