<div class="container">
    <h1>Calculadora Matriz | Transporta</h1>

    <div class="mb-3">
        <label for="lenght">Digite a dimensão do vetor</label>
    </div>

    <div class="mb-3 row">
        <input type="number" id="i" class="form-control">
        &nbsp;x&nbsp;
        <input type="number" id="j" class="form-control">
    </div>

    <div class="btn-group">
        <button class="btn" id="generate">gerar</button>
        <button class="btn d-none" id="btn-gerar-transporta">Gerar Matriz transporta</button>
    </div>

    <div>
        <input class="checkbox-button" type="checkbox" name="random" id="random">
        <label for="random">Gerar números aleatórios</label>
    </div>

    <div class="row">
        <div class="mb-3 mt-3" id="result"></div>
        <div class="d-none icon" id="icon">
            <img src="./img/arrow.svg" alt="flecha" style="width: 45px !important;">
        </div>
        <div class="d-none mb-3 mt-3" id="result-transporta"></div>
    </div>
</div>

<script src="./js/transporta.js"></script>